# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=bb777403acbcb05da1021021ac1c4bfab533ad49ba4f182468af1566dee4a016
APP_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=mydb
